{% extends 'blocks.html' %}
{% block content %}
{% include('nav.html') %}
<div>
 <form action="/assignment4/outer_source" method="get">
            <label>Please enter User ID  : </label>
            <input type="text" name="userID"  id ="userID"><br>
            <input type="submit" value="SearchWithBackEnd">
        </form>
<button onclick="myFunction()">SearchWithFrontEnd</button>


    {% if session.userlist %}
        {% for user in session.userlist %}
            <h4>UserID: {{ user.id }}</h4>
            <img src="{{ user.pic }}" alt="pic">
            <h4>Name: {{ user.name }}</h4>
            <h4>Email: {{ user.email }}</h4>

            <hr>
        {% endfor %}
    {% endif %}

    <main>

    </main>


</div>
  {% include('footer.html') %}
{% endblock %}