{% extends 'blocks.html' %}
{% block content %}
{% include('nav.html') %}
<div>

 {% if session['logedin'] %}
        <h1>Welcome, {{ session['username'] | upper() }}</h1><br>
         <a href="{{url_for('Assign_page')}}" style="color: #000000">Assignment3_1 </a><br>
         <a href="{{url_for('search_func')}}" style="color: #000000">Search </a><br>
         <a href="{{url_for('logout_func')}}" style="color: #000000">Logout</a><br>
{% else %}
 <h1> Hello,Stranger</h1>
 <br>
 <a href="{{url_for('Assign_page')}}" style="color: #000000">Assignment3_1 </a><br>
 <a href="{{url_for('login_func')}}" style="color: #000000">Sign in </a> <br>
 <a href="{{url_for('register_func')}}" style="color: #000000">Register</a><br>

{% endif %}
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
</div>

 {% include('footer.html') %}
{% endblock %}