{% extends 'blocks.html' %}
{% block content %}
{% include('nav.html') %}
{% if session['logedin'] %}
        <h1>Welcome, {{ session['username'] | upper() }}</h1><br>
{% elif user_name %}
<h1> Hello,{{user_name | capitalize() }}  {{user_second | capitalize()}} </h1>
{% else %}
<h1> Hello,Stranger</h1>
{% endif %}
<div class="container">
    <h2> Website Creator's Information </h2> <br>
    <p> {% for title , value in user_info.items() %}
    <h3>  {{title}} : {{ value}} </h3>
        {% endfor %}
    </p>
</div>
<div class="container">
    <h2> User Degrees</h2>
    <p>

        {{user_degrees[0]}}
        {{ super() }}
    </p>
</div>
<div class="container">
    <h2> User Hobbies</h2>
    <ul>
        {% for i in hobbies |sort %}
        <li> {{ i}}</li>
        {% endfor %}
    </ul>
</div>
{% if session['logedin'] %}
<center>
         <a href="{{url_for('Assign2_page')}}" style="color: #000000">Assignment3_2 </a><br>
         <a href="{{url_for('search_func')}}" style="color: #000000">Search </a><br>
         <a href="{{url_for('logout_func')}}" style="color: #000000">Logout</a><br>
</center>
{% else %}
<center>
<a href="{{url_for('Assign2_page')}}" style="color: #000000">Assignment3_2 </a><br>
 <a href="{{url_for('login_func')}}" style="color: #000000">Sign in </a> <br>
 <a href="{{url_for('register_func')}}" style="color: #000000">Register</a><br>
</center>
{% endif %}
 {% include('footer.html') %}
{% endblock %}
