{% extends 'blocks.html' %}
{% block content %}
{% include('nav.html') %}
{% if user_name %}
<h1> Hello,{{user_name | capitalize() }}  {{user_second | capitalize()}} </h1>
{% else %}
<h1> Hello,Stranger</h1>
{% endif %}
<div class="container">
    <h2> User Information</h2>
    <p> {% for title , value in user_info.items() %}
    <h3>  {{title}} : {{ value}} </h3>
        {% endfor %}
    </p>
</div>
<div class="container">
    <h2> User Degrees</h2>
    <p>

        {{user_degrees[0]}}
        {{ super() }}
    </p>
</div>
<div class="container">
    <h2> User Hobbies</h2>
    <ul>
        {% for i in hobbies |sort %}
        <li> {{ i}}</li>
        {% endfor %}
    </ul>
</div>
 {% include('footer.html') %}
{% endblock %}
