{% extends 'blocks.html' %}
{% block content %}
{% include('nav.html') %}
<div>
{% if session['logedin'] %}
        <h1>Welcome, {{ session['username'] | upper() }}</h1>
    {% else %}
        <h1>Welcome to log in page</h1>
    <br>
    <br>
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}
        <form action="/log_in" method="post">
             <label class="headers" for="username">User Name</label>
            <input type="text" name="username"  id="username" placeholder="Username"> <br>
             <label class="headers" for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password"><br> <br>
            <input type="submit">
        </form>
    {% endif %}
     <br>
    <br>
    {% if session['logedin'] %}
         <a href="{{url_for('Assign_page')}}" style="color: #000000">Assignment3_1 </a><br>
         <a href="{{url_for('Assign2_page')}}" style="color: #000000">Assignment3_2 </a><br>
         <a href="{{url_for('search_func')}}" style="color: #000000">Search </a><br>
         <a href="{{url_for('logout_func')}}" style="color: #000000">Logout</a><br>
    {% else %}
     <a href="{{url_for('Assign_page')}}" style="color: #000000">Assignment3_1 </a><br>
     <a href="{{url_for('Assign2_page')}}" style="color: #000000">Assignment3_2 </a><br>
     <a href="{{url_for('register_func')}}" style="color: #000000">Register</a><br>
    {% endif %}
</div>
<div class="image-section">
				<img src="{{url_for('static', filename='about1.jpg')}}">
			</div>
<br>
<br>
<br>
<br>
<br>
{% include('footer.html') %}
{% endblock %}