{% extends 'blocks.html' %}
{% block content %}
{% include('nav.html') %}
<div>
{% if session['logedin'] %}
        <h1>Welcome, {{ session['username'] | upper() }}</h1><br>
        <h3>Search User </h3>
         <form action="/Search">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <input type="submit" value="Search">
         </form>

      {% if name %}
          <h2>{{ name }}</h2>
          <h3>email: {{ email }}</h3>
      {% else %}
        {% if email %}
        <h2>{{ name }}</h2>
        <h3>email: {{ email }}</h3>
        {% else %}
          {% if message %}
            <h3 style="color: red">{{ message }}</h3>
          {% endif %}
        {% endif %}
    {% endif %}

    {% if user_dict %}
          <ol>
            {% for k, v in user_dict.items() %}
                <li><h2>Name: {{ k }}</h2></li>
            {% endfor %}
          </ol>
    {% endif %}
    <center>
         <a href="{{url_for('Assign2_page')}}" style="color: #000000">Assignment3_2 </a><br>
         <a href="{{url_for('search_func')}}" style="color: #000000">Search </a><br>
         <a href="{{url_for('logout_func')}}" style="color: #000000">Logout</a><br>
        </center>
{% endif %}

</div>
 {% include('footer.html') %}
{% endblock %}